body {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    background-color:lightskyblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
  }
footer{
    margin-top: auto;
    background: #494848;
}

a {
  display: inline-block;
  margin: 0 30px 0 0;
  }

.manage-margin {
    text-align:center;
    color: grey;
    margin-right:40% ;
}

.brand-web {
    font-size: 1.5em;
    margin-left: 10%;
    
}

.btn-danger{
  background-color: red;
}

.btn-primary{
  background-color: green;
}


.alert-danger {
  color: #ab0c1c;
  background-color: transparent;
  font-size: 1.4rem;
}

.alert-primary {
  color: green;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.card {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    font-weight: bold;
    font-size: 1.2em;
}


.card-image-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }

.pagination {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        font-family: 'Indie Flower', cursive;
      }
      
.pagination li.active {
        background-color: #2e62af;
      }

.recipeimage {
        margin-top: 20%;
        width: 550px;
        height: 550px;
        align-items: center;
        border-style: solid;
        border-color: #a52900;
        border-width: 4px;
      }

.home {
  margin-top: 5%;
  width: 550px;
  height: 550px;
  align-items: center;
  border-style: solid;
  border-color: #a52900;
  border-width: 4px;
}

.col-home{
  margin-top: 5%;
}

.section-home{
  margin-top: 5%;
  font-family:'Times New Roman', Times, serif
  font-size: 15px;

}

 @media screen and (max-width: 780px) {
        .reciperesultimg {
            width: 350px;
            height: 350px;
            align-items: center;
            border-style: solid;
            border-color: #a52900;
            border-width: 4px;
          }
      }
