{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row ">
        <div class="col s12">
            <h2 class="text-center">Login</h2>
            <div class="text-center">
                {% with alerts = get_flashed_messages(with_categories=true) %}
                    {% if alerts %}
                        {% for category, alert in alerts %}
                            <div class="alert alert-{{ category }}">
                                {{ alert }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="form-errors">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control", placeholder="Please enter username.", required=False) }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="form-errors">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control", placeholder="Please enter password.", required=False) }}
                    {% endif %}
                </div>

                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-primary custom-form-btn") }}
                </div>
            </form>

            <div class="col s12 register-link text-center">
                <a href="{{ url_for('register') }}">No Register? Click Here.</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}